*{
    margin: 0px;
    padding:0px;
    
}

@font-face{
    font-family: "Estilo1";
    src: url("Strawberry Blossom.ttf");
}

@font-face{
    
    font-family: "Estilo2";
    src: url("beneficha.ttf");
}

body{
    
        line-height:40px;
}


h1{
    font-family: "Estilo1";
    font-size: 700%;
    text-align:center;
}

tr{
     color: #FFFEFE;
     
}

div{
    font-family: "Estilo2";
    color: #FFFEFE;
    font-size: 270%;
}

p{
    color: #FFFEFE;
    font-size: 150%;
}

