*{
    margin: 0px;
    padding:0px;
    
}

@font-face{
    font-family: "Estilo1";
    src: url("Strawberry Blossom.ttf");
    
}


@font-face{
    
    font-family: "Estilo3";
    src: url("bertilda.ttf");
}

h1{
    font-family: "Estilo1";
    font-size: 700%;
    text-align:center;
}


p{
    font-family: "Estilo3";
    font-size: 500%;
    color: #FFFEFE;
}

tr{
    color: #FFFEFE;
    line-height:100px;
}




